.vs/
_images/
_uploads/
_logs/
DailyJS/pid/DailyJS/log/
DailyJS/package-lock.json
DailyJS/node_modules/
DailyJS/bin/
DailyJS/obj/
DailyJS/typings/
DailyJS/public/dev-style/*.css
DailyJS/public/app.min.*
