<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <form method="post" action="/framelogin?v=<%= ver %>" autocomplete="on">
    <input type="text" name="username" id="username" value="(me)">
    <input type="password" name="password" id="password">
    <button type="submit">login</button>
  </form>
</body>
</html>
